<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    
    <!-- <bean id="myCoach"
    		class="com.luv2code.springdemo.TrackCoach">
    </bean> -->
    
    <!-- Define the dependency here  -->
    <bean id="myFortune"
    		class="com.luv2code.springdemo.HappyFortuneService">
    
    </bean>
    
    <!-- Define the setter dependency with new id -->
    <bean id="myFortuneService"
    		class="com.luv2code.springdemo.HappyFortuneService">
    
    </bean>
    
    <!-- <bean id="myCoach"
    		class="com.luv2code.springdemo.BaseballCoach">
    		
    		set up constructor injection 
    		<constructor-arg ref="myFortune"/>
    		
    		Space + / for changing from </beans> to />
    		
    		
    </bean> -->
    
    <bean id="myCoach"
    		class="com.luv2code.springdemo.TrackCoach">
    		
    		<!-- set up constructor injection  -->
    		<!-- Referring to line 17 -->
    		<!-- Below line will call TrackCoach() constructor and will pass line 17 in argument with the help of ref="myFortune" -->
    		<constructor-arg ref="myFortune"/>
    		
    		<!-- Space + / for changing from </beans> to /> -->
    		
    		
    </bean>
    
    <bean id="myCricketCoach"
           class="com.luv2code.springdemo.CricketCoach">
    
    <!-- Set up setter injection -->
    <!-- Referring to line 23 -->
    <!-- Below line will call setFortuneService() and will pass line 23 in argument with the help of ref="myFortuneService"  -->
    <property name="fortuneService" ref="myFortuneService"/>
    
    <!-- Inject Literal values  -->
    <!-- Below line will call respective setter methods from CricketCoach class and will pass -->
    <!-- respective values of emailAddress & team  -->
    <property name="emailAddress" value="thebestcoach@luv2code.com"/>
    <property name="team" value="Sunrisers Hyderabad"/>

    </bean>
    
    
    
    
    
</beans>





